absl-py==1.0.0
clearml==1.14.4
flake8==7.0.0
graphviz==0.20.1
grpcio==1.55.3
hydra-core==1.2.0
jupyterlab==3.6.7
matplotlib==3.8.2
mpi4py==3.1.5
numba==0.57.1
numpy==1.24.4
nvidia-eff==0.6.5
nvidia-eff-tao-encryption==0.1.8
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.17.0
onnx-graphsurgeon==0.3.27
git+https://github.com/onnx/tensorflow-onnx
opencv-python==4.8.1.78
pillow==9.5.0
pyarmor==7.7.4
pyarrow==14.0.1
pycocotools==2.0.7
pycuda==2024.1
opencv-python==4.8.1.78
pillow==9.5.0
pyarmor==7.7.4
pyarrow==14.0.1
pycocotools==2.0.7
pycuda==2024.1
pydocstyle==6.3.0
pyflakes==3.2.0
pyflakes==3.2.0
pylint==2.16.2
pynvml==11.4.1
pytest==8.0.2
PyYAML==6.0.1
scikit-image==0.22.0
scikit-learn==1.2.0
scipy==1.12.0
seaborn==0.13.2
setuptools==69.1.0
simplejson==3.19.2
six==1.16.0
tabulate==0.9.0
tensorflow-addons==0.22.0
tensorflow-model-optimization==0.7.3
tensorflow_datasets==4.9.4
wandb==0.16.3
apispec==6.6.1
apispec_webframeworks==1.1.0
flask==3.0.3
flask_limiter==3.6.0
marshmallow==3.21.2
marshmallow_enum==1.5.1