absl-py>=0.7.1
clearml<=1.7.1rc1
matplotlib>=3.0.3
numpy>=1.16.4
Pillow>=6.0.0
PyYAML>=5.1
six>=1.12.0
pynvml==11.0.0 # 11.4.1
mpi4py>=3.0.3
pycocotools-fix==2.0.0.9
hydra-core==1.1.0
omegaconf==2.1.0
opencv-python==4.7.0.68
numba==0.56.2
tensorflow-addons==0.19.0
tensorflow-model-optimization==0.7.3
tensorflow_datasets==3.2.1
scikit-image==0.17.2
scikit-learn==1.2.2
scipy==1.5.4
seaborn==0.7.1
pycuda==2022.2.2
onnx==1.13.0
onnxruntime==1.14.0
onnx-graphsurgeon==0.3.26
git+https://github.com/onnx/tensorflow-onnx
pytest==7.2.1
graphviz==0.20.1
pyarrow==8.0.0
simplejson==3.18.3
tabulate==0.9.0
wandb<=0.13.4
flake8==6.0.0
pydocstyle==6.3.0
pyflakes==3.0.1
pylint==2.16.2
https://files.pythonhosted.org/packages/d1/c2/c14dd8884a5bc05ca07331b3d78a92812eb19e25a625a0b59af8b609a93f/nvidia_eff_tao_encryption-0.1.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://files.pythonhosted.org/packages/cf/ec/47f770919111bcd7047e463389e7f763afbc6ae7b96cbd4be974342a5bb1/nvidia_eff-0.6.2-py38-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
# Required for nvidia_eff_tao_encryption
pyarmor==7.7.4